body {
  color: #182f43;
}
h1,
h5 {
  text-align: center;
}

.contact {
  border: solid 4px #182f43;
  text-align: center;
  width: 600px;
  padding: 40px;
  display: block;
  margin: 0 auto;
}
i {
  color: #182f43;
  margin-right: 8px;
  font-size: 25px;
}
.email a {
  text-decoration: none;
  color: #182f43;
}
.email a:hover {
  text-decoration: underline;
}
.img1,
.img5,
.img6 {
  width: 300px;
  margin-top: 20px;
}
.row {
  text-align: center;
  margin-top: 30px;
}
.imgJN {
  width: 300px;
  border: solid 7px #182f43;
}
.infotext {
  margin-top: 50px;
  font-size: 25px;
}
.img2,
.img3,
.img4 {
  width: 300px;

  margin-top: 20px;
}
footer {
  background-color: #182f43;
  color: #ffffff;
  padding: 5px;
}
@media (max-width: 600px) {
  .contact {
    width: 280px;
  }
  .email,
  .phone {
    font-size: 13px;
  }
  i {
    font-size: 15px;
  }
  .infotext {
    font-size: 15px;
  }
  .imgJN {
    width: 150px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 18px;
  }
  h5 {
    font-size: 12px;
  }
}
